<section class="card">
    <div class="card-header">
        <label for=""><h1>About...</h1></label>
    </div>
    <div class="card-body" id="about">
        <p>Participan en el Proyecto:</p> 
        <hr class="my-4">
        <p>César Mauricio Álvarez, Dúber Rodríguez, Juan David Barrera y Walter Cardona</p>
        <p>Abril de 2020</p>
    </div>
</section>