<div class="jumbotron mt-4" id="index">
    <h1 class="display-4" >Citas App - Aplicaciones Móviles III</h1>
    <hr class="my-4">
    <p class="lead">Proyecto de API en Nodejs y PHP para ser entregadas como producto del Momento 2 de Aplicaciones Móviles III del CESDE.</p>    
    <hr class="my-4">
    <a href="about" class="btn btn-primary">About...</a>
</div>